/*******************************************************************************
*	File: proj2.css
*	Date created: 4/1/17
*	Last Modified: 4/30/17
*	Authors: Alex McCaslin, Brendan Waters, Eric Gottlieb, Taylor Brzuchalski
*
*	Email:
*			mccalex1@umbc.edu
*			b101@umbc.edu
*			eric29@umbc.edu
*			tbrz1@umbc.edu
*
*	Description: This file contains the css used in the project
*
*******************************************************************************/

body{
	background-color: lightBlue;
	font-family: monospace;
	font-size: 16px;
}

h1{
	text-align: center
}

button, input{
	font-size: 18px;
	border-radius: 10px;
	outline: none;
	background-color: white;
	color: black;
	font-family: monospace;
	width: 300px;
}

.disabledButton{
	font-size: 18px;
	border-radius: 10px;
	outline: none;
	background-color: white;
	color: red;
	font-family: monospace;
	width: 300px;
}

#imagesTable{
	background: linear-gradient(to bottom, #1d5ca3 0%, #576e71 30%,#e1c45e 70%,#b26339 100%);
	height: 250px;
}

table, tr{
	color:white;
	width: 100%;
	font-size: 20px;
	text-align: center;
}

.itemType{
	width: 100%;
	text-align: left;
}
.itemType td{
	width: 25%;
	text-align: left;
}
.itemType input{
	width: 60px;
}

div{
	width: 100%;
	text-align: center;
}

td #scores{
	color: white;
	width: 50%;
	font-size: 20px;
	text-align: center;
}
p{
	color: white;
}
#mainDiv{
	width: 90%;
	height: 650px;
	background-color: black;
	text-align: center;
	margin: 0 auto;
	border-radius: 5px;
}

#divContain{
	width: 100%;
}


#oregonTrail{

}

#travelTrail, #differences, #learnMore, #seeTopTen, #managementOptions, 
#chooseNames, #startMonth, #monthAdvice, #goToStore, #helloMatt,
#theStore, #landmarkWithShopMenu, #theTrail, #suppliesMenu, #mapMenu,
#paceMenu, #foodMenu, #restMenu, #tradeMenu, #talkMenu, #noShopMenu,
#imageMenu, #riverMenu, #riverCrossing, #riverOptionsMenu, #fishingMenu,
#trailDivides, #riverGameDone

{
	display: none;
}


#nameError{
	color: red;
}


#wagonImg{
	width: 200px;
	height:100px;
	background: transparent;
}
#landmarkIcon{
	width: 200px;
	height: 66px;
	background: transparent;
}

#groundImg{
	width:100%;
	height: 150px;
}


#landmarkPic, #riverPic, #riverCrossingImg, #fishingImg, #imageTrailSplit{
	height:500px;
	width:700px;
}


#imageMove{
	width: 15%;
	text-align: right;
	vertical-align: bottom;
}
#landmarkMove{
	width: 85%;
	text-align: left;
	vertical-align: bottom;
}

#animateLandmark{
	position: relative;
	width: 100px;
	height: 33px;
	left: 1px;
}

#youLostFromRiver{
	color: red;
}

#riverGameIntro, #riverGameDone {
	text-align: center;
	padding-top: 150px;
	margin: auto;
	height: 450px;
	width: 800px;
	background: rgba(0,0,0,.5);
	position: relative;
	top: -600px;
}

#riverGameCanvas {
	background-image: url(../images/riverGameTemp.png);
}